[build-system]
requires = ["setuptools > 40.6.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.tox]
legacy_tox_ini = """
[flake8]
application-import-names = flask_flatpages
ignore = D205,D400,W504
import-order-style = google
max-complexity = 20

[tox]
envlist =
  py27,py36,py37,py38,py39
requires=
  setuptools==44.1.1;python_version=="2.7"

[testenv]
deps =
  Pygments>=2.0.2
  coverage>=3.7.1
  docutils>=0.12
  flake8>=2.3.0
  flake8-docstrings>=0.2.1.post1
  flake8-import-order>=0.5.3
  mccabe>=0.3.0
  pep257>=0.5.0
  pep8>=1.6.2
  pep8-naming>=0.2.2
  pyflakes>=0.8.1
  pytest
  pytest-cov
commands =
  - flake8 --statistics flask_flatpages/ --import-order-style smarkets
  pytest -v tests/ --cov=flask_flatpages --cov-branch --cov-report term

[testenv:docs]
deps = -rdocs/requirements.txt
commands=
 sphinx-build -d "{toxworkdir}/docs/_build/_doctree" docs "docs/_build/html" --color -W -bhtml {posargs} 

[testenv:lint]
commands=
  flake8 --statistics flask_flatpages/ --import-order-style smarkets
"""

