alabaster>=0.7.12
Babel>=2.6.0
certifi>=2018.10.15
chardet>=3.0.4
Click>=7.0
docutils>=0.14
Flask>=1.0.2
idna>=2.7
imagesize>=1.1.0
ItsDangerous>=1.0.0
Jinja2>=2.10.1
Markdown>=2.6.11
MarkupSafe>=1.0
packaging>=18.0
Pygments>=2.2.0
pyparsing>=2.2.2
pytz>=2018.5
PyYAML>=3.13
requests>=2.20.0
six>=1.11.0
snowballstemmer>=1.2.1
Sphinx>=1.8.1
sphinxcontrib-websupport>=1.1.0
urllib3>=1.24.2
Werkzeug>=0.14.1
