name: Test

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "v*.*.*"
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Install Tox
        run: |
          python -m pip install -U pip
          python -m pip install tox
      - name: Lint with Flake8
        run: |
          tox -e lint
  test:
    name: Test (Python ${{matrix.python}} - ${{matrix.pygments}} Pygments)
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      fail-fast: False
      matrix:
        python: [3.8, 3.9, "3.10", "3.11", "3.12", "3.13", "3.14"]
        pygments: [with, without]
        include:
          - python: 3.8
            pygments: with
            env: py38-pygments
          - python: 3.8
            pygments: without
            env: py38
          - python: 3.9
            pygments: with
            env: py39-pygments
          - python: 3.9
            pygments: without
            env: py39
          - python: "3.10"
            pygments: with
            env: py310-pygments
          - python: "3.10"
            pygments: without
            env: py310
          - python: "3.11"
            pygments: with
            env: py311-pygments
          - python: "3.11"
            pygments: without
            env: py311
          - python: "3.12"
            pygments: with
            env: py312-pygments
          - python: "3.12"
            pygments: without
            env: py312
          - python: "3.13"
            pygments: with
            env: py313-pygments
          - python: "3.13"
            pygments: without
            env: py313
          - python: "3.14"
            pygments: with
            env: py314-pygments
          - python: "3.14"
            pygments: without
            env: py314
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python@${{matrix.python}}
        uses: actions/setup-python@v5
        with:
          python-version: |
            ${{matrix.python}}
      - name: Install Tox
        run: |
          python -m pip install -U pip
          python -m pip install tox
      - name: Test
        run: tox -e ${{ matrix.env }}
